<%- include('header') -%>
	<div id="categories">
		<% for (var i = 0; i < categories.length; i++) { %>
			<div class="category">
				<h2><%- categories[i].title %></h2>
				<% for (var j = 0; j < categories[i].videos.length; j++) { %>
					<a class="video" href="/<%=videos[j].id %>">
						<img src="<%- videos[j].poster %>"></img>
						<div class="timestamp"><%= locals.time.duration(videos[j].duration) %></div>
						<p><%= locals.time.age(videos[j].created) %></p>
						<h3><%- videos[j].title %></h3>
					</a>
				<% } %>
			</div>
		<% } %>
	</div>
<%- include('footer') -%>
